
html, body{
    margin: 0px; 
    padding: 0px;
    background-color: white;
}

h1 { 
    color: red;
    background-color: white;
    font-size: 40px;  
}

.produkt {
    text-align: center; 
}

.suchleiste {
    text-align: center;
}

.nav li{
    display: inline; 
}

.nav {
    padding: .5em; 
    border-bottom: 1px solid rgba(255, 255, 255, .3);  
}

