#content {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}

    #content p {
        margin: 10px;
        padding: 10px;
    }

.line p, #ProductInfoText {
    float: left;
}

#ShoppingCart, #stock {
    float: left;
    margin: 10px;
    padding: 10px;
}

#ProductInfo {
    float: right;
}

#pic {
    margin: 5px;
    padding: 5px;
    float: left;
    width: 35%;
}

#price {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

    .navbar li {
        display: inline;
    }

        .navbar li a {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            .navbar li a:hover:not(.active) {
                background-color: #111;
            }

#body {
    padding-bottom: 60px;
    margin-bottom: 50px;
    float: left;
}

#container {
    min-height: 100%;
    position: relative;
    height: 100%;
}

#header {
    padding: 10px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
